<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Include your CSS and other common dependencies here -->
  </head>

  <body class="flex flex-col min-h-screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <%- include('partials/nav') %>
    <main class="flex-1 flex p-4">
      <div class="w-full xl:w-3/4">
        <div class="">
          <div>
            <h1
              class="text-2xl mb-2 font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white"
            >
              <%= tool.title %>
            </h1>
            <p
              class="mb-6 text-md font-normal text-gray-500 lg:text-lg dark:text-gray-400"
            >
              <%= tool.dec %>
            </p>
          </div>
          <%- body %>
        </div>
      </div>
      <div class="hide xl:flex w-1/4">Example</div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
